@model SharedThings.ViewModels.TransactionChooseAmountViewModel

@{
    ViewData["Title"] = "New transaction";
}

<div class="row">
    <div class="col-md-8 ml-auto mr-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">request_quote</i>
                </div>
                <h4 class="card-title">Customer: @Model.CustomerName (@Model.CustomerId) - Account number: @Model.AccountId</h4>
            </div>
            <div class="card-body ">
                <form id="form" method="post" asp-controller="Transaction" asp-action="ChooseAmount" class="form-horizontal">
                    <div class="row">
                        <label class="col-md-3 col-form-label">Operation</label>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" value="@Model.Operation" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label">Current balance</label>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" value="@Model.CurrentBalance" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label asp-for="Amount" class="col-md-3 col-form-label">Transaction amount in SEK</label>
                        <div class="col-md-9">
                            <div class="form-group has-default">
                                <input asp-for="Amount" class="form-control">
                                <span asp-validation-for="Amount" class="field-validation-error"></span>
                            </div>
                        </div>
                    </div>

                    @if (Model.Operation == "Remittance to Internal Account")
                    {
                        <div class="row">
                            <label class="col-md-3 col-form-label">Choose account</label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="account-search" placeholder="Search by account number">
                                    <input asp-for="InternalAccountId" type="hidden" class="form-control" id="account-id">
                                    <span asp-validation-for="InternalAccountId" class="field-validation-error"></span>
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.Operation == "Remittance to Another Bank")
                    {
                        <div class="row">
                            <label asp-for="Bank" class="col-md-3 col-form-label">Bank code for receiver</label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input asp-for="Bank" class="form-control">
                                    <span asp-validation-for="Bank" class="field-validation-error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label asp-for="ExternalAccount" class="col-md-3 col-form-label">Account number receiver</label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input asp-for="ExternalAccount" class="form-control" onfocusout="showMessage();">
                                    <span asp-validation-for="ExternalAccount" class="field-validation-error"></span>
                                </div>
                            </div>
                        </div>
                    }

                    <input asp-for="CustomerId" type="hidden" />
                    <input asp-for="CustomerName" type="hidden" />
                    <input asp-for="Operation" type="hidden" />
                    <input asp-for="AccountId" type="hidden" />
                    <input asp-for="CurrentBalance" type="hidden" />
                    <input asp-for="Type" type="hidden" />

                </form>
            </div>
            <div class="card-footer ">
                <div class="ml-auto">
                    <button form="form" type="submit" class="btn btn-fill btn-rose">Review transaction</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            $(function() {
                $("#account-search").autocomplete({
                    source: function(request, response) {
                        $.ajax({
                            url: '/Transaction/AutoCompleteAccount/',
                            data: { "prefix": request.term },
                            type: "POST",
                            success: function(data) {
                                response($.map(data,
                                    function(item) {
                                        return item;
                                    }))
                            },
                            error: function(response) {
                                alert(response.responseText);
                            },
                            failure: function(response) {
                                alert(response.responseText);
                            }
                        });
                    },
                    select: function(e, i) {
                        $("#account-id").val(i.item.val);
                    },
                    minLength: 1
                });
            });
        });

        function showMessage() {
            swal({
                title: "Notice",
                text: "System will not verify external bank details, please ensure input is correct.",
                buttonsStyling: false,
                confirmButtonClass: "btn btn-info"
            }).catch(swal.noop);
        }
    </script>
}

