@model BankAdminApp.ViewModels.TransactionConfirmViewModel

@{
    ViewData["Title"] = "New transaction";
}

<form id="form" method="post" asp-controller="Transaction" asp-action="Complete">
    <input asp-for="AccountId" type="hidden" />
    <input asp-for="Operation" type="hidden" />
    <input asp-for="Type" type="hidden" />
    <input asp-for="Amount" type="hidden" />
    <input asp-for="Bank" type="hidden" />
    <input asp-for="ExternalAccount" type="hidden" />
</form>

<div class="row">
    <div class="col-md-8 ml-auto mr-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">request_quote</i>
                </div>
                <h4 class="card-title">Confirm transaction details</h4>
            </div>
            <div class="card-body ">
                <br/>
                <h5 class="card-title"><b>Customer name:</b> @Model.CustomerName</h5>
                <br/>
                <h5 class="card-title"><b>Customer Id:</b> @Model.CustomerId</h5>
                <br/>
                <h5 class="card-title"><b>Account number:</b> @Model.AccountId</h5>
                <br/>
                <h5 class="card-title"><b>Operation:</b> @Model.Operation</h5>
                
                @if (Model.Operation == "Remittance to Another Bank")
                {
                    <br/>
                    <h5 class="card-title"><b>Bank code receiver:</b> @Model.Bank</h5>
                    <br/>
                    <h5 class="card-title"><b>Account number receiver:</b> @Model.ExternalAccount</h5>
                }
                
                <br/>
                <h5 class="card-title"><b>Current balance:</b> @Model.CurrentBalance</h5>
                <br/>
                <h5 class="card-title"><b>Transaction amount:</b> @Model.Amount.ToString("F")</h5>
                <br/>
                <h5 class="card-title">
                    <b>Remaining balance:</b> 
                    @(Model.Type == "Debit" ? (Model.CurrentBalance - Model.Amount) : (Model.CurrentBalance + Model.Amount))
                </h5>
            </div>
            <div class="card-footer ">
                <div class="ml-auto">
                    <button form="form" type="submit" class="btn btn-fill btn-rose">Complete transaction</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        @*$(function () {
            $("#finish-btn").click(function () {
                console.log(@Model.AmountString);

                var transaction = {
                    accountid: @Model.AccountId,
                    operation: "@Model.Operation",
                    amount: @Model.AmountString,
                    bank: "@Model.Bank",
                    externalaccount: "@Model.ExternalAccount"
                };

                $.ajax({
                    url: '@Url.Action("CompleteTransaction", "Transaction")',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(transaction)
                }).done(function(result){
                    swal({
                        title: "Success",
                        text: "Transaction completed! Returning to dashboard",
                        buttonsStyling: false,
                        confirmButtonClass: "btn btn-info"
                    }).catch(swal.noop);
                });
            });
        });*@
    </script>
}
