@model SharedThings.ViewModels.UserIndexViewModel

@{
    ViewData["Title"] = "Manage users";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">groups</i>
                    </div>
                    <h4 class="card-title">All users</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-shopping">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th>Username</th>
                                    <th class="th-description">Role</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var user in Model.Users)
                                {
                                    <tr>
                                        <td>
                                            <div class="img-container">
                                                <img src="~/img/faces/userindex.svg" style="max-width: 40px;" alt="avatar_image">
                                            </div>
                                        </td>
                                        <td>
                                            @user.UserName
                                        </td>
                                        <td>
                                            @user.Role
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" style="color: white;"
                                               class="btn btn-primary btn-round">
                                                Manage user
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-controller="User" asp-action="ChangePassword" asp-route-id="@user.Id" style="color: white;"
                                               class="btn btn-primary btn-round">
                                                Password
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a asp-controller="User" asp-action="New" style="color: white;" class="btn btn-primary btn-round">New user</a>
        </div>
    </div>
</div>

<!-- notice modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Password changed successfully for @Model.Username!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end notice modal -->

@section Scripts
{
    <script>
        $(document).ready(function() {
            function isNullOrWhiteSpace(str) {
                return (!str || str.length === 0 || /^\s*$/.test(str));
            }

            setTimeout(function () {
                    if (!isNullOrWhiteSpace('@Model.Username')) {
                        $("#successModal").modal('show');
                    }
                },
                500);
        })
    </script>
}