@using BankAdminApp.Data
@using BankAdminApp.ViewModels
@model BankAdminApp.ViewModels.AccountDetailsViewModel

@{
    ViewData["Title"] = "Account Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                        <i class="material-icons">receipt_long</i>
                    </div>
                    <h4 class="card-title ">Transactions for <b>Account number: @Model.AccountId</b></h4>
                </div>
                <div class="card-body table-hover">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>ID</th>
                                    <th>Amount</th>
                                    <th>Balance</th>
                                    <th>Date</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var t in Model.TransactionItems)
                                {
                                    
                                    <tr class="clickable-row" style="cursor: pointer;" onclick="showAllDetails(@t.JsonObj)" 
                                        data-toggle="modal" data-target="#transactionModal">
                                        <td>@t.TransactionId</td>

                                        @if (t.Type == "Credit")
                                        {
                                            <td><b style="color: green">@t.Amount</b></td>
                                        }
                                        else
                                        {
                                            <td><b style="color: red">@t.Amount</b></td>
                                        }

                                        <td><b>@t.Balance</b></td>
                                        <td>@t.Date</td>
                                        <td>@t.Type</td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="transactionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Transaction details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body" id="transaction-details">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function isNullOrWhiteSpace(str) {
            return (!str || str.length === 0 || /^\s*$/.test(str));
        }

        function showAllDetails(obj) {

            var output = `<h5><b>Id:</b> ${obj.TransactionId}</h5>
                            <h5><b>Date:</b> ${obj.Date.slice(0, 10)}</h5>
                            <h5><b>Type:</b> ${obj.Type}</h5>`;

            if (!(isNullOrWhiteSpace(obj.Operation))) {
                output += `<h5><b>Operation:</b> ${obj.Operation}</h5>`;
            }

            output += `<h5><b>Amount:</b> ${(Math.round(obj.Amount * 100) / 100).toFixed(2).toString().replace('.', ',')}</h5>
                        <h5><b>Balance:</b> ${(Math.round(obj.Balance * 100) / 100).toFixed(2).toString().replace('.', ',')}</h5>`;

            if (!(isNullOrWhiteSpace(obj.Symbol))) {
                output += `<h5><b>Symbol:</b> ${obj.Symbol}</h5>`;
            }

            if (obj.Bank) {
                output += `<h5><b>Bank:</b> ${obj.Bank}</h5>
                            <h5><b>Account:</b> ${obj.Account}</h5>`;
            }

            $("#transaction-details").html(output);
        }


    </script>
}
