@using BankAdminApp.Data
@model BankAdminApp.ViewModels.CustomerDetailsViewModel

@{
    ViewData["Title"] = "Customer Page";
}

<div class="row">
    <div class="col-md-8 ml-auto mr-auto">
        <div class="page-categories">
            <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#link7" role="tablist">
                        <i class="material-icons">account_circle</i> Information
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                        <i class="material-icons">savings</i> Accounts
                    </a>
                </li>
            </ul>
            <div class="tab-content tab-space tab-subcategories">
                <div class="tab-pane active" id="link7">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><b>Name:</b> @Model.FullName</h5>
                            <br />
                            <h5 class="card-title"><b>Customer Id:</b> @Model.Id</h5>
                            <br />
                            <h5 class="card-title"><b>Address:</b> @Model.FullAddress</h5>
                            <br />
                            <h5 class="card-title"><b>Date of birth:</b> @Model.Birthday</h5>
                            <br />
                            <h5 class="card-title"><b>Gender:</b> @Model.Gender</h5>
                            <br />
                            <h5 class="card-title"><b>National Id:</b> @Model.NationalId</h5>
                            <br />
                            <h5 class="card-title"><b>Phone number:</b> @Model.FullTelephoneNumber</h5>
                            <br />
                            <h5 class="card-title"><b>Email address:</b> @Model.Email</h5>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="link8">
                    <div class="card">
                        <div class="card-body">

                            @foreach (var a in Model.AccountItems)
                            {
                                <h4 class="card-title">
                                    <a asp-controller="Account" asp-action="Details" asp-route-id="@a.AccountNumber">
                                        <b>Account number: @a.AccountNumber</b>
                                    </a>
                                </h4>
                                <h5 class="card-title"><b>Balance:</b> @a.Balance</h5>
                                <h5 class="card-title"><b>Frequency:</b> @a.Frequency</h5>
                                <h5 class="card-title"><b>Created:</b> @a.CreationDate</h5>
                                <h5 class="card-title"><b>Ownership:</b> @a.AccountOwnership</h5>
                                <br/>
                            }

                            <h4 class="card-title">Total balance @Model.TotalBalance</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>