@using BankAdminApp.Data
@using System.Collections.Specialized
@model BankAdminApp.ViewModels.CustomerIndexViewModel

@{
    ViewData["Title"] = "Customer Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                        <i class="material-icons">groups</i>
                    </div>
                    <h4 class="card-title ">Results</h4>
                </div>
                <div class="card-body table-hover">

                    @if (Model.q != null)
                    {
                        <p>Search: "@Model.q" - @Model.CustomerItems.Count customers found</p>
                    }

                    @if (Model.CustomerItems.Any())
                    {
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            <a asp-controller="Customer" asp-action="Index" asp-route-q="@Model.q" asp-route-sortField="Id"
                                               asp-route-sortOrder="@(Model.SortField == "Id" ? Model.OppositeSortOrder : "")">
                                                ID
                                                @if (Model.SortField == "Id")
                                                {
                                                    if (Model.SortOrder == "asc")
                                                    {
                                                        <i class="material-icons">arrow_drop_up</i>
                                                    }
                                                    else
                                                    {
                                                        <i class="material-icons">arrow_drop_down</i>
                                                    }
                                                }
                                            </a>
                                        </th>
                                        <th>
                                            <a asp-controller="Customer" asp-action="Index" asp-route-q="@Model.q" asp-route-sortField="FirstName"
                                               asp-route-sortOrder="@(Model.SortField == "FirstName" ? Model.OppositeSortOrder : "")">
                                                First name
                                                @if (Model.SortField == "FirstName")
                                                {
                                                    if (Model.SortOrder == "asc")
                                                    {
                                                        <i class="material-icons">arrow_drop_up</i>
                                                    }
                                                    else
                                                    {
                                                        <i class="material-icons">arrow_drop_down</i>
                                                    }
                                                }
                                            </a>
                                        </th>
                                        <th>
                                            <a asp-controller="Customer" asp-action="Index" asp-route-q="@Model.q" asp-route-sortField="Surname"
                                               asp-route-sortOrder="@(Model.SortField == "Surname" ? Model.OppositeSortOrder : "")">
                                                Surname
                                                @if (Model.SortField == "Surname")
                                                {
                                                    if (Model.SortOrder == "asc")
                                                    {
                                                        <i class="material-icons">arrow_drop_up</i>
                                                    }
                                                    else
                                                    {
                                                        <i class="material-icons">arrow_drop_down</i>
                                                    }
                                                }
                                            </a>
                                        </th>
                                        <th>
                                            <a asp-controller="Customer" asp-action="Index" asp-route-q="@Model.q" asp-route-sortField="Address"
                                               asp-route-sortOrder="@(Model.SortField == "Address" ? Model.OppositeSortOrder : "")">
                                                Address
                                                @if (Model.SortField == "Address")
                                                {
                                                    if (Model.SortOrder == "asc")
                                                    {
                                                        <i class="material-icons">arrow_drop_up</i>
                                                    }
                                                    else
                                                    {
                                                        <i class="material-icons">arrow_drop_down</i>
                                                    }
                                                }
                                            </a>
                                        </th>
                                        <th>
                                            <a asp-controller="Customer" asp-action="Index" asp-route-q="@Model.q" asp-route-sortField="City"
                                               asp-route-sortOrder="@(Model.SortField == "City" ? Model.OppositeSortOrder : "")">
                                                City
                                                @if (Model.SortField == "City")
                                                {
                                                    if (Model.SortOrder == "asc")
                                                    {
                                                        <i class="material-icons">arrow_drop_up</i>
                                                    }
                                                    else
                                                    {
                                                        <i class="material-icons">arrow_drop_down</i>
                                                    }
                                                }
                                            </a>
                                        </th>
                                        <th>
                                            <a asp-controller="Customer" asp-action="Index" asp-route-q="@Model.q" asp-route-sortField="Birthday"
                                               asp-route-sortOrder="@(Model.SortField == "Birthday" ? Model.OppositeSortOrder : "")">
                                                Date of birth
                                                @if (Model.SortField == "Birthday")
                                                {
                                                    if (Model.SortOrder == "asc")
                                                    {
                                                        <i class="material-icons">arrow_drop_up</i>
                                                    }
                                                    else
                                                    {
                                                        <i class="material-icons">arrow_drop_down</i>
                                                    }
                                                }
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var t in Model.CustomerItems)
                                    {
                                        <tr class="clickable-row" style="cursor: pointer;" onclick="toCustomerPage(@t.Id);">
                                            <td>@t.Id</td>
                                            <td>@t.FirstName</td>
                                            <td>@t.Surname</td>
                                            <td>@t.Address</td>
                                            <td>@t.City</td>
                                            <td>@t.Birthday</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p class="text-danger">No customers found</p>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ml-auto">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="javascript:;">First</a></li>
                <li class="page-item"><a class="page-link" href="javascript:;">Previous</a></li>
                <li class="page-item">
                    <a class="page-link" href="#link">1</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#link">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#link">3</a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:;">Next</a></li>
                <li class="page-item"><a class="page-link" href="javascript:;">Last</a></li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        function toCustomerPage(id) {
            window.location.href = '/customer/details?id=' + id;
        }

    </script>
}