@model SharedThings.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Bank Admin";
}

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 mr-auto ml-auto">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">groups</i>
                </div>
                <p class="card-category">Total Customers</p>
                <h3 class="card-title">@Model.TotalCustomers</h3>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mr-auto ml-auto">
        <div class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">account_balance</i>
                </div>
                <p class="card-category">Total Accounts</p>
                <h3 class="card-title">@Model.TotalAccounts</h3>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mr-auto ml-auto">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">attach_money</i>
                </div>
                <p class="card-category">Total Balance</p>
                <h3 class="card-title">@Model.TotalBalance SEK</h3>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons"></i>
                </div>
                <h4 class="card-title">Statistics By Country</h4>
            </div>
            <div class="card-body table-hover">
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive table-sales">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th class="text-right">Customers</th>
                                        <th class="text-right">Accounts</th>
                                        <th class="text-right">Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    @foreach (var c in Model.CountryItems)
                                    {
                                        <tr class="clickable-row" style="cursor: pointer;" onclick="toCountryPage('@c.Country');">
                                            <td>
                                                <div class="flag">
                                                    <img src="~/img/flags/icon_@(c.Country).png"/>
                                                </div>
                                            </td>
                                            <td>@c.Country</td>
                                            <td class="text-right">
                                                @c.TotalCustomers
                                            </td>
                                            <td class="text-right">
                                                @c.TotalAccounts
                                            </td>
                                            <td class="text-right">
                                                @c.TotalBalance
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 ml-auto mr-auto">
                        <div id="worldMap" style="height: 300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- notice modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Transaction completed successfully!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success btn-round mr-1" data-dismiss="modal">Stay here</button>
                <a class="btn btn-info btn-round" asp-controller="Account" asp-action="Details" asp-route-id="@Model.AccountId">
                    See transaction on account page
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end notice modal -->

@section Scripts
{
    <script>
        function toCountryPage(country) {
            window.location.href = '/country/topten?country=' + country;
        }

        $(document).ready(function() {

            md.initVectorMap(@Model.VectorMapCodesAndValues);
            
            setTimeout(function () {
                    if (@Model.AccountId !== 0) {
                        $("#successModal").modal('show');
                    }
                },
                500);
        });
    </script>
}
